.body_background 
{
    background-image: url("https://lh3.googleusercontent.com/proxy/do5RgZOSE2v3fiXJ_qyjIZZqOTybj7E05xyOshOHPBlioklcXICuNBx6GHxJ1ZTuh2aVhJuN0oCUCpId5oz4kHMxvQNXp3qfOSKCRfRJMKe7B49H6VRouv93877k2dc_I6-PDbZRIZUSfHb3_2fzHl6e73uSwMFcUj9O4O6Log");
    background-position: center;
    background-size: cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

h2
{
	border-radius: 10px;
	width: 200px;
	padding: 5px;
 }
h3
{
	display: inline-block;
}
span
{
	color: black;	
}
a
{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
    float: left;
    border-radius: 10px;
}
#head_info
{
	width: 600px;
	border-radius: 10px;
	margin-bottom: 10px;
}
